* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

/* BACKGROUND */
body {
  background-image: url("../images/bg-pattern-bottom-desktop.svg");
}

/* CONTENT */
.wrapper {
    display: flex;
    margin-top: 150px;
    margin-left: 125px;
    margin-bottom: 50px;
}
.company-review {
    flex: 1;
    height: 200px;
    width: 500px;
    float: :left
    }

.company-customers {
  font-size: 3rem;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.company-info {
  width: auto;
  color: hsl(303, 10%, 53%);
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}

/* REVIEWS */

.reviews {
flex: 2;

}

.review-content {
  display: inline-flex;
  background-color: hsl(300, 24%, 96%);
  border-radius: 5%;
  margin: 10px;
  padding: 14px;

}
.review-content-score {
  margin-right: 5px;
}

.review-content-text {
    font-size: .5rem;
    color:hsl(300, 43%, 22%);
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    letter-spacing: 1.25px; 
}

.review-content:nth-child(1){
  margin-left: 20%;
}

.review-content:nth-child(2){
  margin-left: 30%;
}

.review-content:nth-child(3){
  margin-left: 40%;
}


/* TESTIMONIALS */
.testimonials {
  display: flex;
  margin-left: 125px;
  margin-bottom: 50px;
}

.testimonial-content {
  display: inline-flex;
  flex-direction: column;
  background-color: hsl(300, 43%, 22%);
  border-radius: 5%;
  height: 220px;
  width: 30%;
 }

.testimonial-user-info {
  display: flex;
  margin-top: 15px;

}

.testimonial-user-info-text {
display: flex;
flex-direction: column;
margin-top: 30px;
margin-left: 30px;
}

.user-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 30px;
}

.user-name {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family: 'Spartan', sans-serif;
  letter-spacing: 1.5px;
  /* flex-direction: column; */
}

.buyer-type {
  color: hsl(333, 80%, 67%);
  font-weight: unset;
  letter-spacing: 1.5px;
  margin-top: 3px;
}
.user-review {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color:hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: .5px;
}

.testimonial-content:nth-child(1) {
  margin-right: 40px;
  margin-top: 60px;
}

.testimonial-content:nth-child(2) {
  margin-right: 40px;
  margin-top: 80px;
}

.testimonial-content:nth-child(3) {
margin-top: 100px;
}


@media (max-width: 375px) {
  
}